.playButton {
    margin: 0 auto;
    display: block;
    font-size: 30px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(13, 155, 211);
    color: white;
    font-weight: 600;
    cursor: pointer;
}